#num{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
}
input{
   margin-top: 20px;
}

button{
   width: 150px;
   height: 50px;
   margin-top: 20px;
}
#score{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
   font-size: 30px;
   margin-top: 10px;
}