body {
    background: #290749;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    background-color: #742db7;
    border-radius: 30px;
}

.questions {
    height: 300px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question {
    color: white;
    text-align: center;
}

ul {
    list-style: none;
}

#submit {
    width: 100px;
    height: 25px;
    background-color: #36705c;
    color: white;
    cursor: pointer;
}

.score {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.score-item {
    margin-bottom: 6px;
    color: white;

}

.score span {
    color: black;
    margin-right: 10px;
}

.save-score  {
    color: green;
}

.current-score {
    background-color: #c27d36;
    padding: 2px -5px;
}

.help {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;

}

.help button {
    background-color: #c27d36;
}

.help p {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #742db7;
    color: white;
    cursor: pointer;
}